
#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
#page-content {
  flex-grow: 2;
}

/* html {
  height: 100%;
} */

body {
  height: 100%;
  background-image: url("../src/assets/verticalHotelgreen.jpg"); 
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f6f4e6;
  background-size: cover;
    /* attachment is what let you wrap it to the screen properly */
  background-attachment: fixed;
  overflow: scroll; 
 }

 .menuBody {
  background-color: rgba(250, 235, 215, 0.596);
  color: #2A5955;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 600; 
  overflow: scroll; 
 }